<div class="p-5">

    <div class="container">
        <form  [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <label >Old Password</label>
            <input type="password" id="usrname" name="usrname" required>
            <label >New Password</label>
            <input type="password" id="usrname" name="usrname" required>
            <label for="psw">Confirm Password</label>
            <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                required>
            <input type="submit" value="Change Password">
        </form>
    </div>

    <div id="message">
        <h3>Password must contain the following:</h3>
        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
    </div>
</div>